{% extends "base.html" %}
{% load media %}
					{% block content %}
					{% for entry in entries %}
					<div class="post">
						<h2 class="title"><a href="#">{{ entry.title }}</a></h2>
						<p class="meta">Posted by <a href="#">Someone</a> on July 10, 2011
							&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
						<div class="entry">
							<p>{{ entry.body }}</p>
						</div>
					</div>
					{% endfor %}
					{% endblock %}

					{% block sidebar %}
							<li>
								<h2>Categories</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
					{% endblock %}