<!DOCTYPE html>
{% load media cms blog google_analytics google_cse %}
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <title>{% block title %}{% endblock %}  | {{ site_name }}</title>
    {% block blogfeeds %}
    	{% blog_feeds %}
    {% endblock %}
    {% block css %}
    	{% include_media 'main.css' %}
    {% endblock %}

    {% block preload_js %}
    	{% google_analytics_code %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
</head>
<body>
<div id="wrapper">
	<div id="wrapper-bgbtm">
		<div id="header">
			<div id="logo">
				<h1><a href="/">Young Generation</a></h1>
				<p>save young generation</a></p>
			</div>
		</div>
		<!-- end #header -->
		<div id="menu">
			<ul>
				{% show_menu %}
			</ul>
		</div>
		<!-- end #menu -->
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="content">
						{% block content-header %}
				          {% if error %}<div class="error">{{ error }}</div>{% endif %}
				          {% if info %}<div class="info">{{ info }}</div>{% endif %}
				          {% if messages %}
				            {% for message in messages %}
				              <div class="info">{{ message }}</div>
				            {% endfor %}
				          {% endif %}
				        {% endblock %}
						{% block content %}{% endblock %}
					</div>
					<!-- end #content -->
					<div id="sidebar">
						<div id="search">
							<h2>Search</h2>
							{% google_search_form %}
						</div>
						<ul>
							{% block sidebar %}
								{% show_block 'sidebar' %}
	        				{% endblock %}
        				</ul>
					</div>
					<!-- end #sidebar -->
					<div style="clear: both;">&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
		<div id="footer">
	      <p>
	        Copyright {% now "Y" %} {{ site_copyright }}<br />
	        Powered by <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a>,
	        <a href="http://code.google.com/appengine/">App Engine</a>, and
	        <a href="http://www.allbuttonspressed.com/projects/allbuttonspressed">All Buttons Pressed</a>
	      </p>
	    </div>
		<!-- end #footer -->
	</div>
</div>
{% block js %}
{% endblock %}
</body>
</html>
